#payment {
  padding: 0 0 0 25%;
  width: 100%;
  height: 220px;
  background: #42b7ec;
  /* background-blend-mode: normal; */
  margin: 0 0 0 0;
}

#button_payment_reservation {
  width: 10%;
  height: 10px;
}

#title_payment {
  margin: 0 0 20px 0;
}

#content_title_payment{
  background: transparent;
  display: flex;
  justify-content: center;
  width: 50%;
}