#top_container {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #131313;
}

#number_spot{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageBox{
    display: flex;
    justify-content: center;
}

.container_info_pablo{
    position: relative;
}
.container_info_pablo .card{
    position:relative;
    margin: 2% 0 2%;
    left: 43%;
    width: 320px;
    height: 450px;
    background: #ffffff;
    border-radius: 20px;
    overflow: hidden;

}

#img_car{
    background-image: url(../../assets/coche.png);
  }
  
.container_info_pablo .card:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #0e0041; */
    background: #2d45dd4c;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}
.container_info_pablo .card:hover::before{
    clip-path: circle(300px at 80% -20%);
}


.container_info_pablo .card:after{
    content: 'Parking 4U';
    position: absolute;
    top: 55%;
    left: -05%;
    text-align: center;
    font-size: 83px;
    font-weight: 999;
    font-style: italic;
    color:  #e7e7e7;
    transition: 0.5s ease-in-out;
}
.container_info_pablo .card .imageBox{
    position: absolute;
    top: 43%;
    transform:  translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.7s;
}

.container_info_pablo .card .imageBox img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    width: 220px;
}
.container_info_pablo .card .contentBox{
    position: absolute;
    bottom: 3%;
    width: 100%;
    height: 170px;
    text-align: center;
    transition: 0.7s;
    z-index: 10;
}
.container_info_pablo .card .contentBox h2{
    position: relative;
    bottom: 5%;
    font-weight: 600;
    letter-spacing: 1px;
    color: #000000;
}
.container_info_pablo .card .contentBox .price,
.container_info_pablo .card .contentBox .amount,
.container_info_pablo .card .contentBox .description
{
    bottom: 20%;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.container_info_pablo .card .contentBox .price h3,
.container_info_pablo .card .contentBox .amount h3,
.container_info_pablo .card .contentBox .description h3{
    
    color: #000000;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}
.container_info_pablo .card .contentBox .price span,
.container_info_pablo .card .contentBox .amount span,
.container_info_pablo .card .contentBox .description span{
    
    text-align: center;
    line-height: 23px;
    font-size: 14px;
    font-style: bold;
    color: #000000;
    margin: 0px;
    padding: 0px;
    transition: 0.5s;
    bottom: 90%;
}

.subtitle_information {
    font-weight: 600;
}
/* button{
    margin-top: 30px;
    letter-spacing: 5px;
    border: 2px solid #ff6600;
    padding: 12px;
    width: 190px;
    cursor: pointer;
    background: #0e0041;
    color: #ff6600;
    transition: 0.5s ease;
    border-radius: 10px;
    margin-bottom: 10px;
}
button:hover{
    background: transparent;
    border: 2px solid #ff6600;
    box-shadow: 0 0 10px 0 #ff6600 inset, 0 0 10px 4px #ff6600;
    border-radius: 10px;
    color: #ff6600;
} */
